:host {
  display: block;
}

mat-card {
  display: flex;

  > div {
    display: flex;
    align-items: center;
    width: 40%;

    mat-icon {
      padding: 5px;
      border-radius: 50%;
      background-color: #eeeeee;
      margin: 0 10px 0 0;
    }

    p {
      flex: 1 0 auto;
      margin: 0;
    }
  }
}

