<h2>Exercise</h2>

<h1>Testing</h1>
<p>
  In this exercise were going to explore testing with Angular
</p>

<ul>
  <li>Running single suite (or test)</li>
  <li>Mocking of data</li>
  <li>Mocking of services</li>
  <li>Testing DOM</li>
  <li>Testing service calls</li>
</ul>

<div class="actions">
  <button mat-raised-button (click)="info()" color="accent">Info</button>
  <button mat-raised-button (click)="warning()" color="warn">Warning</button>
  <button mat-raised-button (click)="error()" color="primary">Error</button>
</div>

