:host {
  display: flex;
  flex-direction: column;
  padding: 40px 20%;
}

mat-spinner {
  margin: 15px auto 0 auto;
}

h1 {
  button {
    float: right;
  }

  mat-icon {
    position: relative;
    top: -4px;
  }
}

h2  {
  font-size: 28px !important;
}

form {
  div {
    display:flex;
    align-items: center;

    mat-form-field {
      margin: 10px;
      flex: 1 0 auto;
    }
  }
}

.actions {
  button {
    margin: 0 0 0 10px;
  }
}
