<h2>Exercise #4</h2>

<h1>RxJs reactive programming</h1>
<p>
  In this exercise were going to explore reactive programming with RxJs in Angular applications
</p>

<ul>
  <li>
    Explore standard imperative implementation of notification service and its tests
  </li>
  <li>
    Implement reactive notification service with tests
  </li>
  <li>Override NotificationService using ReactiveNotificationService (providers)</li>
</ul>

<div class="actions">
  <button mat-raised-button (click)="info()" color="accent">Info</button>
  <button mat-raised-button (click)="warning()" color="warn">Warning</button>
  <button mat-raised-button (click)="error()" color="primary">Error</button>
</div>
