<mat-toolbar color="primary">
  <img src="../../../../assets/logo/angular.svg" alt="Angular" routerLink="home" />
  Angular Mastery Workshop by Tomas Trajan
  <iframe
    allowtransparency="true"
    frameborder="0"
    scrolling="no"
    src="//platform.twitter.com/widgets/follow_button.html?screen_name=tomastrajan&show_screen_name=false"
  ></iframe>
  <span class="spacer"></span>
  <button mat-flat-button routerLink="home" routerLinkActive="active" color="primary">
    Home
  </button>
  <button mat-flat-button routerLink="customers" routerLinkActive="active" color="primary">
    Customers
  </button>
</mat-toolbar>
