img {
  height: 80%;
  margin: 10% 0;
}

.title {
  display: inline-block;
  margin: 0 20px 0 0;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 10px;
}

iframe {
  width: 160px;
  height: 20px;
  margin: 0 0 0 10px;
}
