:host {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.signature {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    margin: 0 5px;
  }

  a {
    margin: 0 0 0 5px;
  }
}
